.profile-wrapper {
    margin: 30px 0px;
}

.profile-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 540px) {
    .profile-header {
        justify-content: center;
        margin-bottom: 30px;
    }
}

.profile-text-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-header-wrapper {
    margin-bottom: 40px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.edit-profile {
    font-family: "Open Sans", sans-serif;
    color: #C8D4E0;
    background-color: #556677;
    padding: 7px 10px 6px;
    width: 104px;
    height: 25px;
    font-size: 11px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.profile-username {
    font-size: 22px;
    color: #FFFFFF;
}

.album-number {
    font-size: 21px;
    color: #D8E0E8;
    font-family: "Merriweather", serif;
}

.album-header {
    font-size: 10px;
    color: #667788;
    margin-top: 7.5px;
}

.album-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-tabs {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #24303c;
    border-radius: 3px;
    justify-content: center;
}

.tab-content {
    padding: 12px;
    width: 90px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.tab-content:hover {
    color: light blue;
}

.tab-content.active {
    border-bottom-color: green;
}

.edit-header {
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #AABBCC;
}


.edit-sub-header {
    color: #FFFFFF;
    font-size: 20px;
    margin: 4px 0px 20px;
}

.edit-label {
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 5px;
}

.change-username input,
.change-password input {
    padding: 9px 9px 8px;
    background-color: #2C3440;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #456;
    box-sizing: border-box;
    color: #89a;
}

.change-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.change-section {
    width: 100%;
}



.remove-button {
    color: #99AABB;
    font-size: 13px;  
    border: none;
    background: transparent;
    cursor: pointer;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-height: 300px;
    max-width: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.favorite-album {
    aspect-ratio: 1;
    /* width: 110px;
    height: 110px; */
    background-color: #2C3641;
    border-color: #445566;
    cursor: pointer;
    box-shadow:  inset 0 0 0 1px rgba(221, 238, 255, .25);
    border-radius: 3px;
}

.favorite-image {
    /* width: 110px;
    height: 110px; */
    width: 100%;
    aspect-ratio: 1;
    border-radius: 3px;
}

.favorite-album-container {
    max-width: 470px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 0.5rem;p
}

.change-section-wrapper {
    display: flex;
    gap: 10px;
    margin: 40px 0px;
}

@media screen and (max-width: 768px) {
    .change-section-wrapper {
        flex-direction: column;
    }

    .change-form > input {
        width: 100% !important;
    }
}

.favorite-album-main {
    width: 100%;
}

.favorite-image-main {
    width: 100%;
    height: auto;
    cursor: pointer;
    box-shadow:  inset 0 0 0 1px rgba(221, 238, 255, .25);
    border-radius: 3px;

}

.grid-album-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

.favorite-album-null {
    width: 100%;
    aspect-ratio: 1;
    background-color: #2C3641;
    border-color: #445566;
    box-shadow:  inset 0 0 0 1px rgba(221, 238, 255, .25);
    border-radius: 3px;
}

.user-not-found {
    heigh: 100%;
    font-size: 30px;
    font-weight: 800;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-content-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.delete-account {
    background-color: red;
}

.delete-button {
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f4fcf0;
    padding: 9px 12px 8px;
    font-weight: 900;
    border-radius: 3px;
}

.button-container {
    display: flex; 
    gap: 10px;
    justify-content: end;
}

.delete-container{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.review-modal {
    /* width: 400px; */
}

.cancel-button {
    background-color: #8899AA;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f4fcf0;
    padding: 9px 12px 8px;
    font-weight: 900;
    border-radius: 3px;
}

.edit-profile-container {
    margin: 30px 0px;
}


.header-list {
    display: flex;
    gap: 12px;   
}

.header.active {
    border-bottom: 2px solid green; 
    padding-bottom: 5px;
}

.main-header-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #99AABB;
    margin-bottom: 10px;
}