.artist-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 950px;
    margin: 30px 0px;
    gap: 3rem;
}

.artist-page-content {
    width: 100%;
    max-width: 670px;
}

.albums-by {
    color: #99AABB;
    font-size: 13px;
}
.artist-name {
    font-size: 37px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.artist-album-wrapper {
    width: 100%;
}

.artist-albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 0.5rem;
    width: 100%;
}

.artist-visual {
    width: 230px;
    display: flex;
    justify-content: center;
}

.artist-image {
    width: 100%;
    margin-bottom: 20px;
}

.album-images {
    display: flex;
    justify-content: center;
}

.album-images > img {
    width: 215px;
    height: auto;
    max-width: 100%;
}

.artist-genre {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.artist-genre > p {
    background-color: gray;
    padding: 8px;
    border-radius: 2px;
    color: #AABBCC;
}