.main-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: "Open Sans", sans-serif; 
    width: 100%;
    padding-top: 60px;
}

.albums-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 230px; 
}

.carousel-wrapper {
    overflow: hidden; 
    width: 950px;
}

.albums-image-container {
    display: flex;
    transition: transform 0.5s ease; 
}

.albums-image {
    width: 230px; 
    height: 100%; 
    margin-right: 10px; 
    transition: border 0.1s ease
}

.albums-image:hover {
    border: 3px solid yellow;
    box-sizing: border-box;
}

.chevrons {
    color: gray;
    font-size: 20px;
} 

.chevron-button {
    background: none;
    border: none;
    outline: none;
    height: 100%;
    cursor: pointer; 
}

.chevron-button:hover .chevrons {
    color: white;
}
