.page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
}
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}


/* .main-content {
    width: 950px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
} */