.main-content {
  padding: 0px 50px;
  width:100%;
  max-width: 950px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

a, .link {
  color: inherit; 
}
  
a:visited, a:active, a:focus {
  color: inherit; 
}


@media screen and (max-width: 768px) {
  .main-content {
      padding: 0px 20px;
      box-sizing: border-box;
  }
}
